/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */

$ff-serif : "Open Sans",
sans-serif;
$ff-cursive : "Playwrite GB S",
cursive;

$c-green :#208040;
$c-light-green :#65A903;
$c-gray :#F3F4F6;
$c-beige :#FCF8EC;

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

html {
	scroll-behavior: smooth;
}

body {
	font-size: 14px;
	font-family: $ff-serif;
	background-color: $c-beige;
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $ff-serif;
	line-height: 1.2;
	font-weight: 700;
}

h1 {
	font-size: 90px;
}

h2 {
	font-size: 80px;
}

h3 {
	font-size: 60px;
}

h4 {
	font-size: 40px;
}

h5 {
	font-size: 30px;
}

h6 {
	font-size: 20px;
}

img {
	height: auto;
	display: inline-block;
	vertical-align: middle;
}

.shell {
	max-width: calc(1140px + 120px);
	width: 100%;
	padding-inline: 60px;
	margin: 0 auto;
}

.wrapper {
	position: relative;
	overflow: hidden;
}

/* ------------------------------------------------------------ *\
	Image fit
\* ------------------------------------------------------------ */

.image-fit {
	overflow: hidden;
	position: relative;
	background-size: cover;
	background-position: center;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	font-size: 0;
	line-height: 0;
	text-indent: -4004px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	width: 80px;
	aspect-ratio: 1;

	>img {
		display: block;
		width: 100%;
	}

	/*  Logo--footer  */
	&.logo--footer {
		width: 60px;
	}
}

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	background-color: $c-beige;

	.header__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
	}

	.header__logo {
		flex-basis: 150px;
	}

	.header__actions {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	.header__menu {
		justify-self: flex-end;
	}
}

/* ------------------------------------------------------------ *\
	Menu
\* ------------------------------------------------------------ */

.menu {
	list-style-type: none;
	display: flex;
	gap: 20px;
	font-size: 20px;
	text-transform: uppercase;

	li a {
		text-decoration: none;
		color: inherit;
		font-weight: 700;
		transition: color .3s;

		&:hover {
			color: $c-green;
		}
	}
}

/* ------------------------------------------------------------ *\
	Login
\* ------------------------------------------------------------ */

.login {
	display: block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	border: 2px solid #000;
	border-radius: 50%;

	>img {
		width: 100%;
		height: 100%;
	}
}

/* ------------------------------------------------------------ *\
	Hero
\* ------------------------------------------------------------ */

.hero {
	position: relative;
	min-height: 90vh;
	display: flex;
	align-items: center;

	.hero__bg-video {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #000;
			opacity: .4;
		}
	}

	.hero__bg-video video {
		position: absolute;
		width: 100%;
		height: 100%;
		max-height: 100%;
		min-width: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	.hero__body {
		width: 100%;
		padding: 50px 0;
		position: relative;
		z-index: 5;
		color: #fff;
	}

	.hero__head {
		text-align: center;
		font-family: $ff-cursive;
	}

	.hero__head h1 {
		font-family: inherit;
		font-size: 100px;
	}

	.hero__head+.hero__actions {
		margin-top: 40px;
	}

	.hero__actions {
		text-align: center;
	}
}

/* ------------------------------------------------------------ *\
	Btn
\* ------------------------------------------------------------ */

.btn {
	text-decoration: none;
	font-size: 20px;
	// text-transform: uppercase;
	display: inline-block;
	padding: 10px 20px;
	background-color: #65A903;
	color: #fff;
	border-radius: 999em;
	transition: background-color .3s;

	&:hover {
		background-color: $c-green;
	}

	/*  Btn--uppercase  */
	&.btn--uppercase {
		text-transform: uppercase;
	}

	/*  Btn--transparent  */
	&.btn--transparent {
		background-color: transparent;
		border: 1px solid rgba($color: #000000, $alpha: .2);
		color: #000;
		transition: background-color, color, border-color;
		transition-duration: .3s;

		&:hover {
			background-color: $c-light-green;
			border-color: $c-light-green;
			color: #fff;
		}
	}

}

/* ------------------------------------------------------------ *\
	Section-top-rated
\* ------------------------------------------------------------ */

.section-top-rated {
	padding: 80px 0;

	.section__head {
		text-align: center;
	}

	.section__head+.section__slider {
		margin-top: 60px;
	}

	.section__items {
		display: grid;
		grid-template-columns: .33fr .33fr .33fr;
		gap: 30px;
	}

	.section__actions {
		margin-top: 30px;
		text-align: center;
	}
}

/* ------------------------------------------------------------ *\
	Slider-top-rated
\* ------------------------------------------------------------ */

.slider-top-rated {
	overflow: visible;
}

/* ------------------------------------------------------------ *\
	Tile-book
\* ------------------------------------------------------------ */

.tile-book {
	position: relative;

	>a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
	}

	.tile__img {
		width: 100%;
		aspect-ratio: 578 / 867;

		img {
			object-fit: contain;
		}
	}

	.tile__head {
		font-size: 25px;
	}

	.tile__head a {
		text-decoration: none;
		color: inherit;
		transition: color .3s;

		&:hover {
			color: $c-light-green;
		}
	}

	.tile__author a {
		color: #000;
		transition: color .3s;

		&:hover {
			color: $c-light-green;
		}
	}

	.tile__bar {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: space-between;
		gap: 10px 20px;
	}

	.tile__stars-outer,
	.tile__stars-inner {
		font-size: 28px;
	}

	.tile__stars-outer {
		position: relative;
		display: inline-block;

		&:before {
			content: "\2606 \2606 \2606 \2606 \2606";
			color: gold;
		}
	}

	.tile__stars-inner {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		color: black;
		width: calc((var(--average) / 5) * 100%);
		overflow: hidden;

		&:before {
			content: "\2605 \2605 \2605 \2605 \2605";
			color: gold;
		}
	}

	.tile__price {
		font-size: 25px;
		font-weight: 600;
	}

	.tile__price sup {
		font-size: 18px;
	}
}

/* ------------------------------------------------------------ *\
	Modal-user
\* ------------------------------------------------------------ */

.modal-user {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;

	.modal__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: .3;
	}

	.modal__content {
		max-width: 800px;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.modal__close-btn {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 20px;
		aspect-ratio: 1;
		border-radius: 50%;
		border: none;
		background-color: transparent;
		cursor: pointer;
		transition: transform .3s ease-in;

		&:hover {
			transform: rotate(180deg) scale(1.2);
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			width: 1px;
			height: 15px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			background-color: #000;
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	.modal__shell {
		width: 100%;
		background-color: $c-beige;
		border-radius: 20px;
		padding: 50px;
	}

	.modal__items {
		display: grid;
		grid-template-columns: .5fr .5fr;
		gap: 50px 100px;
		position: relative;
	}

	.modal__separator {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 80px;
		height: 100%;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 1px;
			height: 100%;
			background-color: #000;
		}

		>span {
			text-transform: uppercase;
			background-color: $c-beige;
			border: 2px solid #000;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			align-items: center;
			justify-content: center;
			padding: 10px;
			border-radius: 50%;
		}
	}
}

/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form {
	.form__head {
		text-align: center;
	}

	.form__head h5 {
		font-family: $ff-cursive;
		font-size: 25px;
	}

	.form__head+.form__body {
		margin-top: 30px;
	}

	.form__cols {
		display: flex;
		margin: 0 -14px;
		row-gap: 15px;
		flex-wrap: wrap;
	}

	.form__col {
		flex-basis: 50%;
		padding: 0 7px;
	}

	/*  Form__col--full-width  */
	.form__col--full-width {
		flex-basis: 100%;
	}

	.form__row {
		position: relative;
	}

	.form__row+.form__row {
		margin-top: 15px;
	}

	.form__label {
		font-size: 12px;
		position: absolute;
		top: -9px;
		left: 10px;
		background-color: #fff;
		display: block;
		padding: 0px 5px;
		border-radius: 999em;
		border: 1px solid rgba($color: #000000, $alpha: .2)
	}

	input.field {
		width: 100%;
		height: 45px;
		border-radius: 10px;
		border: 1px solid rgba($color: #000000, $alpha: .2);
		padding: 0 10px;
		font-size: 18px;
		transition: border-color .3s;

		&:active,
		&:focus {
			border-color: #000;
		}
	}

	.textarea {
		width: 100%;
		border: 1px solid rgba($color: #000000, $alpha: .2);
		border-radius: 10px;
		padding: 10px;
		transition: border-color .3s;
		font-size: 18px;
		height: 200px;
		resize: none;

		&:active,
		&:focus {
			border-color: #000;
		}
	}

	.form__body+.form__actions {
		margin-top: 15px;
	}

	.form__actions {
		text-align: center;
	}

	.form__btn {
		width: fit-content;
		padding: 10px;
		border-radius: 999em;
		background-color: $c-light-green;
		border: none;
		color: #fff;
		font-size: 15px;
		text-transform: uppercase;
		cursor: pointer;
		transition: background-color .3s;

		&:hover,
		&:focus {
			background-color: $c-green;
		}
	}
}

/* ------------------------------------------------------------ *\
	Card-testimonial
\* ------------------------------------------------------------ */

.card-testimonial {
	.card__body {
		text-align: center;
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
	}

	.card__body p {
		font-size: 20px;
	}

	.card__body p+footer {
		margin-top: 20px;
	}

	.card__body footer {
		font-family: $ff-cursive;
	}
}

/* ------------------------------------------------------------ *\
	Section-contact
\* ------------------------------------------------------------ */

.section-contact {
	padding: 100px 0;

	.section__content {
		display: flex;
		margin: 0 -30px;
	}

	.section__media {
		flex: 0 1 50%;
		padding: 0 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.section__img {
		max-width: 320px;
		width: 100%;
	}

	.section__main {
		flex: 0 1 50%;
		padding: 0 15px;
	}

	.section__head {
		text-align: center;
	}

	.section__head h2 {
		font-size: 60px;
	}

	.section__head+.section__form {
		margin-top: 50px;
	}
}

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	background-color: #0095B6;
	padding: 80px 0 0;

	.footer__content {
		padding: 0 0 80px;
	}

	.footer__cols {
		display: flex;
		margin: 0 -40px;
		flex-wrap: wrap;
	}

	.footer__col {
		flex: 0 1 33.333%;
		padding: 0 20px;
	}

	.footer__foot {
		text-align: center;
		color: #fff;
		background-color: #000;
		padding: 10px 0;
	}
}

/* ------------------------------------------------------------ *\
	Quick-links-menu
\* ------------------------------------------------------------ */

.quick-links-menu {
	.quick-links-head {
		font-size: 20px;
	}

	.quick-links-head+.quick-links-nav {
		margin-top: 15px;
	}

	.quick-links-nav {
		font-size: 15px;
	}

	ul {
		list-style-type: none;
	}

	ul li+li {
		margin-top: 5px;
	}

	a {
		color: #000;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

/* ------------------------------------------------------------ *\
	Ico-background
\* ------------------------------------------------------------ */

.ico-background {
	position: relative;
	width: 44px;
	height: 44px;
	// background-color: #000;
	border-radius: 50%;
	cursor: pointer;

	&:hover:before {
		transform: scale(1.3);
		opacity: 0;
	}

	&:before {
		content: "";
		position: absolute;
		top: -1px;
		left: -1px;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 1px solid #000;
		transition: transform, opacity;
		transition-duration: .4s;
	}
}