/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */

$ff-serif : "Open Sans",
sans-serif;
$ff-cursive : "Playwrite GB S",
cursive;

$c-green :#208040;
$c-light-green :#65A903;
$c-gray :#F3F4F6;
$c-beige :#FCF8EC;

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

html {
	scroll-behavior: smooth;
}

body {
	font-size: 14px;
	font-family: $ff-serif;
	background-color: $c-beige;
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $ff-serif;
	line-height: 1.2;
	font-weight: 700;
}

h1 {
	font-size: 90px;
}

h2 {
	font-size: 80px;
}

h3 {
	font-size: 60px;
}

h4 {
	font-size: 40px;
}

h5 {
	font-size: 30px;
}

h6 {
	font-size: 20px;
}

img {
	height: auto;
	display: inline-block;
	vertical-align: middle;
}

.shell {
	max-width: calc(1140px + 120px);
	width: 100%;
	padding-inline: 60px;
	margin: 0 auto;
}

.wrapper {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 80px;
}

/* ------------------------------------------------------------ *\
	Image fit
\* ------------------------------------------------------------ */

.image-fit {
	overflow: hidden;
	position: relative;
	background-size: cover;
	background-position: center;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	font-size: 0;
	line-height: 0;
	text-indent: -4004px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	width: 80px;
	aspect-ratio: 1;

	>img {
		display: block;
		width: 100%;
	}

	/*  Logo--footer  */
	&.logo--footer {
		width: 60px;
	}
}

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background-color: $c-beige;
	flex-grow: 0;
	z-index: 9;
	box-shadow: 0px 0px 15px -5px #000000;

	.header__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
	}

	.header__logo {
		flex-basis: 150px;
	}

	.header__actions {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	.header__menu {
		justify-self: flex-end;
	}
}

/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */

main {
	flex-grow: 1;
}

/* ------------------------------------------------------------ *\
	Menu
\* ------------------------------------------------------------ */

.menu {
	list-style-type: none;
	display: flex;
	gap: 20px;
	font-size: 20px;
	text-transform: uppercase;

	li a {
		text-decoration: none;
		color: inherit;
		font-weight: 700;
		transition: color .3s;

		&:hover {
			color: $c-green;
		}
	}
}

/* ------------------------------------------------------------ *\
	Login
\* ------------------------------------------------------------ */

.login {
	display: block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	border: 2px solid #000;
	border-radius: 50%;

	>img {
		width: 100%;
		height: 100%;
	}
}

/* ------------------------------------------------------------ *\
	Hero
\* ------------------------------------------------------------ */

.hero {
	position: relative;
	min-height: 90vh;
	display: flex;
	align-items: center;

	.hero__bg-video {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #000;
			opacity: .4;
		}
	}

	.hero__bg-video video {
		position: absolute;
		width: 100%;
		height: 100%;
		max-height: 100%;
		min-width: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	.hero__body {
		width: 100%;
		padding: 50px 0;
		position: relative;
		z-index: 5;
		color: #fff;
	}

	.hero__head {
		text-align: center;
		font-family: $ff-cursive;
	}

	.hero__head h1 {
		font-family: inherit;
		font-size: 100px;
	}

	.hero__head+.hero__actions {
		margin-top: 40px;
	}

	.hero__actions {
		text-align: center;
	}
}

/* ------------------------------------------------------------ *\
	Btn
\* ------------------------------------------------------------ */

.btn {
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
	padding: 10px 20px;
	background-color: #65A903;
	color: #fff;
	border-radius: 999em;
	border: none;
	cursor: pointer;
	transition: background-color .3s;

	&:hover {
		background-color: $c-green;
	}

	/*  Btn--uppercase  */
	&.btn--uppercase {
		text-transform: uppercase;
	}

	/*  Btn--transparent  */
	&.btn--transparent {
		background-color: transparent;
		border: 1px solid rgba($color: #000000, $alpha: .2);
		color: #000;
		transition: background-color, color, border-color;
		transition-duration: .3s;

		&:hover {
			background-color: $c-light-green;
			border-color: $c-light-green;
			color: #fff;
		}
	}

	/*  Btn--edit  */
	&.btn--edit {
		background-color: orange;
		transition: background-color, box-shadow;
		transition-duration: .3s;

		&:hover {
			background-color: #b07200;
			box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
		}
	}

	/*  Btn--delete  */
	&.btn--delete {
		background-color: red;
		transition: background-color, box-shadow;
		transition-duration: .3s;

		&:hover {
			background-color: #a70000;
			box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
		}
	}

	/*  Btn--red  */

	&.btn--red {
		background-color: red;
	}

}

/* ------------------------------------------------------------ *\
	Section-top-rated
\* ------------------------------------------------------------ */

.section-top-rated {
	padding: 80px 0;

	.section__head {
		text-align: center;
	}

	.section__head+.section__slider {
		margin-top: 60px;
	}

	.section__items {
		display: grid;
		grid-template-columns: .33fr .33fr .33fr;
		gap: 30px;
	}

	.section__actions {
		margin-top: 30px;
		text-align: center;
	}
}

/* ------------------------------------------------------------ *\
	Slider-newest-five
\* ------------------------------------------------------------ */

.slider-newest-five {
	overflow: visible;
}

/* ------------------------------------------------------------ *\
	Tile-book
\* ------------------------------------------------------------ */

.tile-book {
	position: relative;

	>a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
	}

	.tile__img {
		width: 100%;
		aspect-ratio: 578 / 867;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			object-fit: fill;
			z-index: 2;
		}
	}

	.tile__img-loading-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 25px;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 5px solid #ddd;
		border-top-color: orange;
		animation: loading 1s linear infinite;
		z-index: 1;
	}

	.tile__img+.tile__content {
		margin-top: 10px;
	}

	.tile__head {
		font-size: 25px;
	}

	.tile__head a {
		text-decoration: none;
		color: inherit;
		transition: color .3s;

		&:hover {
			color: $c-light-green;
		}
	}

	.tile__author a {
		color: #000;
		transition: color .3s;

		&:hover {
			color: $c-light-green;
		}
	}

	.tile__price {
		font-size: 25px;
		font-weight: 600;
	}

	.tile__price sup {
		font-size: 18px;
	}
}

/*  Tile-book--catalog  */
.tile-book--catalog {
	.tile__head {
		font-size: 15px;
	}

	.tile__author {
		font-size: 13px;
	}

	.tile__stars-outer,
	.tile__stars-inner {
		font-size: 20px;
	}

	.tile__price {
		font-size: 18px;
	}

	.tile__price sup {
		font-size: 15px;
	}
}

/*  Tile-book--xtra-small  */
.tile-book--xtra-small {
	.tile__head {
		font-size: 18px;
	}

	.tile__bar {
		display: block;
	}

	.tile__stars-outer,
	.tile__stars-inner {
		font-size: 20px;
	}

	.tile__price {
		font-size: 20px;
	}
}

/* ------------------------------------------------------------ *\
	Modal-login-register
\* ------------------------------------------------------------ */

.modal-login-register {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;

	.modal__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: .3;
	}

	.modal__content {
		max-width: 800px;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.modal__close-btn {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 20px;
		aspect-ratio: 1;
		border-radius: 50%;
		border: none;
		background-color: transparent;
		cursor: pointer;
		transition: transform .3s ease-in;

		&:hover {
			transform: rotate(180deg) scale(1.2);
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			width: 1px;
			height: 15px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			background-color: #000;
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	.modal__shell {
		width: 100%;
		background-color: $c-beige;
		border-radius: 20px;
		padding: 50px;
		box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.75);
	}

	.modal__items {
		display: grid;
		grid-template-columns: .5fr .5fr;
		gap: 50px 100px;
		position: relative;
	}

	.modal__separator {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 80px;
		height: 100%;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 1px;
			height: 100%;
			background-color: #000;
		}

		>span {
			text-transform: uppercase;
			background-color: $c-beige;
			border: 2px solid #000;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			align-items: center;
			justify-content: center;
			padding: 10px;
			border-radius: 50%;
		}
	}
}

/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form {
	font-family: $ff-serif;

	.form__head {
		text-align: center;
	}

	.form__head h1 {
		font-size: 60px;
	}

	.form__head h5 {
		font-family: $ff-cursive;
		font-size: 25px;
	}

	.form__head+.form__body {
		margin-top: 30px;
	}

	.form__error {
		margin-bottom: 20px;
		text-align: center;
		color: red;
		font-weight: 700;
	}

	.form__cols {
		display: flex;
		margin: 0 -14px;
		row-gap: 20px;
		flex-wrap: wrap;
	}

	.form__col {
		flex-basis: 50%;
		padding: 0 7px;
	}

	/*  Form__col--full-width  */
	.form__col--full-width {
		flex-basis: 100%;
	}

	.form__row {
		position: relative;
	}

	.form__row+.form__row {
		margin-top: 20px;
	}

	.form__label {
		font-size: 12px;
		position: absolute;
		top: -9px;
		left: 10px;
		background-color: #fff;
		display: block;
		padding: 0px 5px;
		border-radius: 999em;
		border: 1px solid rgba($color: #000000, $alpha: .2)
	}

	input.field {
		font-family: inherit;
		width: 100%;
		height: 45px;
		border-radius: 10px;
		border: 1px solid rgba($color: #000000, $alpha: .2);
		padding: 0 10px;
		font-size: 18px;
		transition: border-color .3s;

		&:active,
		&:focus {
			border-color: #000;
		}
	}

	.textarea {
		font-family: $ff-serif;
		width: 100%;
		border: 1px solid rgba($color: #000000, $alpha: .2);
		border-radius: 10px;
		padding: 10px;
		transition: border-color .3s;
		font-size: 18px;
		height: 200px;
		resize: none;

		&:active,
		&:focus {
			border-color: #000;
		}
	}

	.form__body+.form__actions {
		margin-top: 15px;
	}

	.form__actions {
		text-align: center;
	}

	.form__btn {
		width: fit-content;
		padding: 10px;
		border-radius: 999em;
		background-color: $c-light-green;
		border: none;
		color: #fff;
		font-size: 15px;
		text-transform: uppercase;
		cursor: pointer;
		transition: background-color .3s;

		&:hover,
		&:focus {
			background-color: $c-green;
		}

		/*  form__btn--large-fs  */
		&.form__btn--large-fs {
			font-size: 20px;
			padding: 10px 20px;
		}

		/*  Form__btn--spinner  */
		&.form__btn--spinner {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				width: 10px;
				aspect-ratio: 1;
				border-radius: 50%;
				border: 5px solid #ddd;
				border-top-color: orange;
				transform: translate(-50%, -50%);
				animation: btn-loading 1s linear infinite;
				z-index: 1;
			}
		}


	}

	.form__btn[disabled] {
		cursor: not-allowed;
		background-color: rgba($color: #777777, $alpha: 1.0);
	}

	/*  Form--review  */
	&.form--review {
		.form__row+.form__row {
			margin-top: 30px;
		}
	}

	fieldset {
		border: none;
	}

	fieldset legend {
		padding: 0 5px;
		background-color: #fff;
		border: 1px solid rgba($color: #000000, $alpha: .2);
		border-radius: 999em;
		margin: 0 0 10px 11px;
		font-size: 12px;
	}

	.checkboxes {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		font-size: 18px;
	}

	.checkboxes input {
		display: none;
	}

	.checkboxes input:checked~label:after {
		opacity: 1;
		visibility: visible;
	}

	.checkboxes label {
		display: flex;
		gap: 5px;
		align-items: center;
		position: relative;
		cursor: pointer;

		&:before {
			content: '';
			display: block;
			width: 15px;
			aspect-ratio: 1;
			background-color: #fff;
			border: 1px solid rgba($color: #000000, $alpha: .2);
			border-radius: 5px;
			position: relative;
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			width: 10px;
			height: 4px;
			border-bottom: 2px solid #000;
			border-left: 2px solid #000;
			z-index: 2;
			transform: rotate(-45deg);
			left: 3px;
			top: 8px;
			opacity: 0;
			visibility: hidden;
		}
	}

	.radios {
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(6, .16667fr);
		gap: 10px 20px;
		font-size: 18px;
	}

	.radios input[type=radio] {
		display: none;
	}

	.radios label {
		position: relative;
		padding-left: 25px;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			top: 11px;
			left: 10px;
			width: 15px;
			aspect-ratio: 1;
			transform: translate(-50%, -50%);
			background-color: #fff;
			border: 1px solid rgba($color: #000000, $alpha: .2);
			border-radius: 50%;
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			left: 10px;
			top: 11px;
			transform: translate(-50%, -50%) scale(0);
			width: 10px;
			aspect-ratio: 1;
			z-index: 2;
			background-color: #000;
			border-radius: 50%;
			opacity: 0;
			visibility: hidden;
			transition: opacity, visibility, transform;
			transition-duration: .2s;
			transition-timing-function: ease;

		}
	}

	.radios input[type=radio]:checked+label:after {
		opacity: 1;
		visibility: visible;
		transform: translate(-50%, -50%) scale(1);
	}

}


/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	flex-grow: 0;
	background-color: #0095B6;
	padding: 80px 0 0;

	.footer__content {
		padding: 0 0 80px;
	}

	.footer__cols {
		display: flex;
		margin: 0 -40px;
		flex-wrap: wrap;
	}

	.footer__col {
		flex: 0 1 33.333%;
		padding: 0 20px;
	}

	.footer__foot {
		text-align: center;
		color: #fff;
		background-color: #000;
		padding: 10px 0;
	}
}

/* ------------------------------------------------------------ *\
	Quick-links-menu
\* ------------------------------------------------------------ */

.quick-links-menu {
	.quick-links-head {
		font-size: 20px;
	}

	.quick-links-head+.quick-links-nav {
		margin-top: 15px;
	}

	.quick-links-nav {
		font-size: 15px;
	}

	ul {
		list-style-type: none;
	}

	ul li+li {
		margin-top: 5px;
	}

	a {
		color: #000;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

/* ------------------------------------------------------------ *\
	Ico-background
\* ------------------------------------------------------------ */

.ico-background {
	position: relative;
	width: 44px;
	height: 44px;
	// background-color: #000;
	border-radius: 50%;
	cursor: pointer;

	&:hover:before {
		transform: translate(-50%, -50%) scale(1.3);
		opacity: 0;
	}

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 1px solid #000;
		transform: translate(-50%, -50%);
		transition: transform, opacity;
		transition-duration: .4s;
	}
}

/* ------------------------------------------------------------ *\
	User-utils
\* ------------------------------------------------------------ */
.user-utils {
	display: block;
	width: 42px;
	height: 43px;
	aspect-ratio: 1;
	position: relative;
	border-radius: 50%;

	>img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
	}
}


/* ------------------------------------------------------------ *\
	Section-catalog
\* ------------------------------------------------------------ */

.section-catalog {
	padding: 100px 0;

	.section__inner {
		display: grid;
		grid-template-columns: .3fr .7fr;
		gap: 0 30px;
	}

	.section__items {
		display: flex;
		flex-wrap: wrap;
		gap: 20px 0;
		margin: 0 -20px;
	}

	.section__item {
		flex: 0 0 25%;
		padding: 0 10px;
	}
}

/* ------------------------------------------------------------ *\
	Loading animation
\* ------------------------------------------------------------ */

@keyframes loading {
	to {
		transform: rotate(360deg);
	}
}

@keyframes btn-loading {
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

/* ------------------------------------------------------------ *\
	Section-details
\* ------------------------------------------------------------ */

.section-details {
	padding: 100px 0;


	.section__inner {
		display: grid;
		grid-template-columns: .45fr .55fr;
		gap: 40px 50px;
	}

	.section__img {
		width: 100%;
		aspect-ratio: 578 / 867;
		box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.33);
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	.section__img img {
		z-index: 2;
		object-fit: fill;
	}

	.section__img-loading-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 25px;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 5px solid #ddd;
		border-top-color: orange;
		animation: loading 1s linear infinite;
		z-index: 1;
	}

	.section__head {
		font-size: 50px;
	}

	.section__body p + p {
		margin-top: 5px;
	}

	.section__price {
		font-size: 20px;
		color: rgb(255, 38, 0)
	}

	.section__main-actions {
		margin-top: 15px;
		display: grid;
		gap: 10px;
		justify-content: left;
	}

	.section__main-actions+.section__main-publisher-info {
		margin-top: 20px;
	}

	.section__main-publisher-info h6+ul {
		margin-top: 10px;
	}

	.section__main-publisher-info ul {
		list-style-type: none;
		line-height: 1;
	}

	.section__main-publisher-info li {
		display: grid;
		grid-template-columns: 18px auto;
		gap: 5px;
		align-items: center;

	}

	.section__main-publisher-info li+li {
		margin-top: 5px;
	}

	.section__actions {
		grid-column: 1 / span 2;
		display: grid;
		gap: 20px;
	}

	.section__owner-actions {
		display: flex;
		gap: 10px;
	}

	.section__comments {
		margin-top: 20px;
		grid-column: 1 / span 2;
	}

	.section__comments-head {
		font-size: 30px;
	}

	.section__comments-head+.section__comments-list {
		margin-top: 30px;
	}


	.section__comment-form {
		margin-top: 30px;
	}

	.section__comment-form-body {
		padding-top: 20px;
	}
}

/* ------------------------------------------------------------ *\
	List-reviews
\* ------------------------------------------------------------ */

.list-reviews {
	list-style-type: none;

	li {
		position: relative;
		padding: 20px 10px;
		border-radius: 10px;
		min-height: 100px;
		overflow: hidden;
	}

	li:nth-child(odd) {
		box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
		
	}

	li+li {
		// padding-top: 30px;
		// border-top: 2px solid rgba($color: #000000, $alpha: .3);
	}

	.list__item-comment {
		font-size: 20px;
	}

	.list__item-owner-delete-btn {
		position: absolute;
		top: 5px;
		right: 5px;
		width: 20px;
		aspect-ratio: 1;
		overflow: hidden;
		border: none;
		cursor: pointer;
		transition: transform .3s ease-in-out;

		&:hover {
			transform: scale(1.5)
		}

		>img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.list__item-warning {
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #000000, $alpha: .8);
		text-align: center;
		padding: 10px 20px;
		font-size: 20px;
		font-weight: 700;
		color: #fff;
	}

	.list__item-owner-actions {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	.list__item-warning-btn {
		border: none;
		background-color: red;
		color: #fff;
		padding: 10px 20px;
		border-radius: 999em;
		transition: background-color, color;
		transition-duration: .3s;
		cursor: pointer;

		&:hover {
			background-color: rgba($color: red, $alpha: .8);
		}
	}

	.list__item-reject-delete-btn {
		background-color: $c-green;

		&:hover {
			background-color: $c-light-green;
		}
	}
}

/* ------------------------------------------------------------ *\
	Section-publish-new-book
\* ------------------------------------------------------------ */

.section-publish-new-book {
	padding: 100px 0;

	.section__shell {
		max-width: 1000px;
	}

	.section__form {
		position: relative;
		z-index: 3;
	}

	.section__form-loading-outer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #000000, $alpha: .7);
		z-index: 4;
	}

	.section__form-loading-spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 25px;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 5px solid #ddd;
		border-top-color: orange;
		animation: loading 1s linear infinite;
		z-index: 5;
	}

	.section__form-error {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

/* ------------------------------------------------------------ *\
	Section-my-acc
\* ------------------------------------------------------------ */

.section-my-acc {
	padding: 100px 0;

	.section__intro {
		font-size: 20px;
		text-align: center;
		max-width: 800px;
		width: 100%;
		margin: 0 auto 20px;
	}

	.section__inner {
		display: grid;
		grid-template-columns: .2fr .8fr;
		border: 1px solid #000;
		border-radius: 20px;
		min-height: 500px;
	}

	.section__aside {
		border-right: 1px solid #000;
		overflow: hidden;
		border-top-left-radius: inherit;
		border-bottom-left-radius: inherit;
	}

	.section__list ul {
		list-style-type: none;
	}

	.section__list a {
		text-decoration: none;
		font-size: 17px;
		color: #000;
		display: block;
		position: relative;
		text-transform: uppercase;
		padding: 10px;
		transition: color .4s ease-in-out;
		transition-delay: .2s;

		&:hover,
		&.active {
			color: #fff;
		}

		&:hover:before,
		&.active:before {
			width: 100%;
			opacity: 1;
			visibility: visible;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			background-color: $c-light-green;
			z-index: -1;
			opacity: 0;
			visibility: hidden;
			transition: opacity, visibility, width;
			transition-duration: .4s;
			transition-timing-function: ease-in-out;
		}
	}

	.section__main {
		padding: 20px;
	}
}

/* ------------------------------------------------------------ *\
	List-books
\* ------------------------------------------------------------ */
.list-books {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(5, .25fr);
	gap: 20px;
}

/* ------------------------------------------------------------ *\
	List-user-reviewed-books
\* ------------------------------------------------------------ */

.list-user-reviewed-books {
	list-style-type: none;
	font-size: 16px;

	.list__item {
		position: relative;
		padding: 30px;
		border-radius: 10px;
		overflow: hidden;
		min-height: 105px;
	}
	
	.list__item:nth-child(odd) {
		box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);

	}

	.list__item-warning {
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 10px;
		background-color: rgba($color: #000000, $alpha: .8);
		z-index: 5;
	}

	.list__item-warning-actions {
		display: flex;
		gap: 20px;
	}

	.list__item-btn {
		padding: 5px 10px;
		background-color: red;
		border-radius: 999em;
		border: none;
		cursor: pointer;
		color: #fff;
		transition: background-color .3s;

		&:hover {
			background-color: rgba($color: red, $alpha: .8);
		}
	}

	.list__item-btn--reject {
		background-color: #65A903;

		&:hover {
			background-color: #208040;
		}
	}

	.list__item-delete-btn {
		position: absolute;
		top: 7px;
		right: 7px;
		width: 20px;
		aspect-ratio: 1;
		background-color: transparent;
		border: none;
		cursor: pointer;
		border-radius: 50%;
		opacity: .8;
		transition: transform, opacity;
		transition-duration: .2s;
		transition-timing-function: ease-in-out;
		z-index: 4;

		&:hover {
			transform: scale(1.1);
			opacity: 1;
		}
	}

	.list__item-delete-btn img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
	}
}

/* ------------------------------------------------------------ *\
	Tile-read-book
\* ------------------------------------------------------------ */

.tile-read-book {
	display: block;
	position: relative;
	width: 100%;
	aspect-ratio: 578 / 867;
	transition: box-shadow .3s ease-in-out;

	&:hover {
		box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: fill;
	}
}